---
import "../styles/tailwind.css"
---

<!doctype html>
<html lang="ru" class="max-h-full max-w-full">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta
			name="description"
			content="Цель группы донести весть до других людей, кто еще страдает. Сообщества, форматы, время, описания, контакты и ссылки."
		/>
		<title>5 Традиция: группы всех 12-ти шаговых сообществ.</title>
	</head>
	<body class="max-h-full max-w-full">
		<slot />
	</body>
</html>
